.AppContent {
  padding: 36px 64px;
  display: flex;
  justify-content: space-between;
  color: rgba(1, 1, 1, 0.87);
}

@media screen and (min-width: 900px) {
    .AppContent {
      width: 70%;
      margin: 0 auto;
    }
}

.nav-button {
  background: Transparent;
  border: none;
  color: #ddd;
  font-size: 18px;
  border-bottom: 4px solid Transparent;
  padding: 0 12px;
  outline: none;
}

.nav-button:focus, .nav-button:hover {
  background: rgba(1,1,1,0.1);
}

.active {
  border-bottom: 4px solid #fff;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ddd;
}

tbody > tr:last-child {
  border: none;
}

th, td {
  padding: 8px;
  text-align: left;
  color: rgba(1,1,1,0.5);
  font-size: 13px;
  height: 32px;
}

td {
  color: rgba(1,1,1,0.8);
  font-size: 14px;
}

table .numeric {
  text-align: right;
}

table input.numeric {
  width: 84px;
}

.card {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
  border-radius: 2px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.card-header * {
  display: flex;
  justify-content: space-between;
}

.card-header > * {
  margin: 16px 0;
}

.card-header h1 {
  margin-left: 8px;
}

h1 {
  font-size: 24px;
  color: #607D8B;
}
